@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(./images/banner/banner3.png);
    height: 100vh;
    margin-bottom: 120px;
    text-align: end;
    color: white;
}

.header-div {
    width: 700px;
    margin-right: 100px;
}

.header-div>h1 {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 25px;
}

.btn-primary {
    background-color: white;
    font-weight: bolder;
    color: #005FAC;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
}

/* header end  */

/* previous year style  */

.previous-year>div {
    display: flex;
    justify-content: center;
}

.top-left>img {
    height: 75%;

}



.top-right {
    display: flex;
    align-items: center;
}

.top-right>div>h1{
    font-weight: 700;
font-size: 40px;
}

.top-right>div>p {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #1f1f1f;
    font-weight: bold;


}


span {
    color: rgb(120, 255, 120);
    font-weight: bolder;

}
 /* previous year style end
  */

  /* !-- My plans style start  --> */

  .my-plans{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .my-plans>div{
    text-align: center;
  }

  
  .my-plans>div>h3{
    font-weight: 700;
font-size: 25px;
margin-top: 5px;
margin-bottom: 15px;
  }

  .my-plans>div>p{

    font-weight: bolder;
    font-size: 16px;
    color:#777777
  }




  /* !-- My plans style end  --> */